# Building/Packaging/Distributing.
build/
dist/
*.egg-info/
.eggs/

# Byte-compiled/Optimized Python and Library/DLL files.
*.py[cod]
__pycache__

# Testing and CI tasks.
.pytest_cache/
.tox

# `make coverage-html` output
.coverage
htmlcov/

# pytest-cov / coverage / https://codecov.io
coverage.xml

# Sphinx
docs/_build
# After `make docs`:
docs/modules.rst
# `make docs` Sphinx autodocs-generated.
docs/nark.backends.rst
docs/nark.backends.sqlalchemy.managers.rst
docs/nark.backends.sqlalchemy.rst
docs/nark.helpers.dev.rst
docs/nark.helpers.rst
docs/nark.items.rst
docs/nark.managers.rst
docs/nark.migrations.rst
docs/nark.migrations.versions.rst
docs/nark.rst

# In lieu of a personalizable, secondary Grep/Silver Searcher/RipGrep ignore,
# like .gitignore's .git/info/exclude, the repo contains an .ignore.example.
.ignore

# ‘quickfix’ make task for Vim development.
.make.out

# Translations
*.mo

