*.py[cod]
*~
.python-version
__pycache__

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# envdirs
envs/*
!envs/dev

# Django
kmncms/media/*
!kmncms/media/.gitkeep
kmncms/static_root/*
!kmncms/static_root/.gitkeep

# Logs
*.log
*.log.*
pip-log.txt

# Unit test files / coverage reports
.cache
.coverage
.tox
htmlcov
.pytest_cache/

# Translations
*.mo

# Complexity
output/*.html
output/*/index.html

# Bower and npm
bower_components
node_modules

# Sphinx
docs/_build
!docs/_static/.gitkeep
# 2018-04-11: (lb): After `make docs`:
docs/nark.backends.rst
docs/nark.backends.sqlalchemy.rst
docs/nark.helpers.rst
docs/nark.rst
docs/modules.rst

# In lieu of a personalizable, secondary Grep/Silver Searcher/RipGrep ignore,
# like .gitignore's .git/info/exclude, the repo contains an .ignore.example.
.ignore

# ‘quickfix’ make task for Vim development.
.make.out

